@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Game was created by <a href="https://github.com/kagi99">Kamil Gacan</a> and
    <a href="https://github.com/priclavv">Kacper Drejer</a>.</p>
<p>Thanks Beata and Damian for helping write game engine.</p>
